.imagen{
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 15px;
}

.carta{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 1rem;
    
    width: 300%;
}

.nombre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.datos{
    font-family: fantasy;
}


